spring:
  application:
    name: top-up-system
  
  datasource:
    url: jdbc:postgresql://localhost:5432/topup_db
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  security:
    jwt:
      secret: ${JWT_SECRET:your-256-bit-secret-key-for-jwt-token-generation-minimum-32-characters}
      expiration: 86400000 # 24 hours

integrator:
  api:
    url: ${INTEGRATOR_API_URL:http://localhost:8080/mock}

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true

logging:
  level:
    com.tyonex.top_up: DEBUG
    org.springframework.security: DEBUG

